# This repo is in the home directory because there are some scripts there
# that we want to track. Because of that, we need a pretty aggressive
# .gitignore, so that only the config files we want to track are tracked
# and not everything else that might end up in my home directory

# Ignore everything
/*

# Except for...
# this file
!.gitignore
# startup script for sway
!sway-run
# my miscellaneous scripts
!.scripts
# my zsh config
!.zshrc

!.vimrc

# un-ignore particular .config directories...
!.config
.config/*
!.config/sway
!.config/git
!.config/termite
!.config/i3status
!.config/mako
!.config/xob
!.config/fontconfig
!.config/kanshi
!setup.py
